body {
	background-color: rgb(34, 36, 38);
	color: rgb(221, 221, 221);
	font-family: -apple-system,SF UI Text,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 17px;
	line-height: 1.4;
}

h1 {
	color: rgb(255, 255, 255);
	font-size: 17px;
	font-weight: bold;
	line-height: 44px;
}
h2 {
	color: rgb(255, 255, 255);
	font-size: 17px;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
}

section {
	margin: 10px 0 40px 0;
}
section > p {
	background-color: rgba(28, 29, 31, 0.5);
	border-bottom: 1px solid rgb(57, 57, 57);
	margin: 20px 0;
}
section > p > label {
	cursor: pointer;
	display: inline-block;
	width: 400px;
}
section > p > input {
	background-color: transparent;
	border: none;
	color: rgb(255, 255, 255);
	font: inherit;
}
section > p > input[type="number"] {
	text-align: right;
}

section.actions {
	text-align: right;
}
section.actions > button {
	background-color: rgb(51, 0, 0);
	border: 1px solid rgb(102, 0, 0);
	border-radius: 4px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 14px;
	height: 29px;
	line-height: 27px;
	margin: 0 10px;
	padding: 0 10px;
	width: 100px;
}
section.actions > button#save {
	background-color: rgb(0, 51, 0);
	border-color: rgb(0, 102, 0);
}